<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div class="col-xs-6 col-md-4">

			</div>
			<br>
			<center><h1>Looking for a career with a great company in an explosive market!</h1></center>
			<br>
			<p>Cisco has predicted that by 2017, two-thirds of the world’s mobile data traffic will be video. Now that’s huge. </p>
			<p>Mobile video traffic exceeded 50 percent of total mobile data traffic for the first time in 2012. Mobile video traffic exceeded 50 percent of total mobile data traffic by the end of 2012 and grew to 55 percent by the end of 2014.</p>

			<p>We're looking for developers who have a passion for thier craft as well as for Video</p>
			<p>If you think you've got what it takes to help shape the video market in New Zealand or even internationally! Get in touch with us today!</p>
			<br>
			<br>
	<div class="container">
	
			
				<center><h1>Positions</h1></center>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-header">
						<h4>- Full Stack Senior Developer</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-header">
						<h4>- Javascript, AngularJS, Ember Wizz</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-header">
						<h4>- Ruby On Rails Developer</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-header">
						<h4>- Font End Designer with an eye for detail.</h4>
						
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<div class="panel panel-default">
					<div class="panel-header">
						<h4>- Account Representative</h4>
						
					</div>
				</div>
		</div>
	</div>	
	<br>
			<p>Get in touch with us today <%= mail_to "careers@recruitmexs.co.nz"%> </p>
		</div>
	</div>

</div>
<br>
<br>





