<div class="container">
	<div class="row" id="questions">
		<div class="col-md-8">
			<br>
			<h1> Frequently Asked Questions</h1>
			<br>
			<h3>Q: Can we include a link on TradeMe and Seek back to the job position?</h3>
				<p>A: Yes when you create the position we generate a unique URL for your potential candidates to link to your job position.</p><br>
			<h3>Q: Can we upload our job positions to sites like Trade Me and Seek?</h3>
				<p>A: Yes we use thier API's to instanly upload a new position to their site.</p><br>
			<h3>Is video interviewing bordering on discrimination?</h3>
				<p>No, quite the opposite is true. With RecruitMe there is video documentation of what has occurred during the video interview. This safeguards the candidate, client, hiring manager and recruiter. And, because interview questions are standardised, there is a fair “apples-to-apples” compairison of candidates.</p><br>
					
			<h3>Q: How can RecruitMe XS help me place temporary staff?</h3>
				<p>A: If you supply temporary staff, RecruitMe XS can help you make placements faster then ever before. Clients often require a short, screening interview before they will consider a candidate, but seldom ask for a second interview. A quick video of a candidate is perfect to replace the need of that interview and help you to make the placement faster.</p><br>
			<h3>Q: How do candidates find the job position?</h3>
				<p>A: When candidates recieve a link to the position, they will be asked to login, after logging in they go straight to the page pf the job position which has information about your company and the role, as well as the questions they are expected to respond to.</p><br>
			<h3>Q: Will I be notified when a candidate has completed a question?</h3>
				<p>A: As soon as a candidate has completd the response you will be notifies by email if you choose or you can check your Dashboard for new notifications.</p><br>
			<h3>Q: Which plan is right for me?</h3>
				<p>A: Depending on which plan you choose you can ...</p><br>
			<h3>Q: How many videos can I upload?</h3>
				<p>A: Depending on which plan you choose you can ...</p><br>
			<h3>Q: Can I change plans anytime?</h3>
				<p>A: Yes. You can ... </p><br>
			<h3>Q: How long will the candidate videos stay online for?</h3>
				<p>A: Your candidate videos will stay online for ...</p><br>
			<h3>Q: Can other people in our company access the videos?</h3>
				<p>A: Yes just send them a link from your dashboard to invite them in. </p><br>
			<h3>Q: How many videos can we record for the job positions?</h3>
				<p>A: As many as you like.</p><br>
			<h3>Q: How many questions can we ask for each position?</h3>
				<p>A: As many as you like, we have a list of questions in our library that are used frequently and you can create your own. </p><br>
			<h3>Q: Is our information private?</h3>
				<p>A: Yep you bet, we do not share any company or candidate information with any outside parties. Your information is totally safe with us!</p><br>
			<h3>Q: Can we record and view interviews on mobile devices?</h3>
				<p>A: Not yet but we are working on it as we speak, so we're not far away!</p>
			
			<br>
			<br>
			Sign Up Today and be more efficient! <%=link_to 'Sign Up', new_employer_path%>
			<br>
			<br>

		</div>

	</div>
</div>
