<div class="container">
	<div class="row" id="questions">
		<div class="col-md-8">
			<h1> Frequently Asked Questions</h1>
			<h3>Which plan is right for me?</h3>
				<p>Depending on which plan you choose you can ...</p>
			<h3>How many videos can I upload?</h3>
				<p>Depending on which plan you choose you can ...</p>
			<h3>Can I change plans anytime?</h3>
				<p>Yes. You can ... </p>
			<h3>How long will the candidate videos stay online for?</h3>
				<p>Your candidate videos will stay online for ...</p>
			<h3>Can other people in our company access the videos?</h3>
				<p>Yes just send them a link from your dashboard to invite them in. </p>
			<h3>How many videos can we record for the job positions?</h3>
				<p>As many as you like.</p>
			<h3>How many questions can we ask for each position?</h3>
				<p>As many as you like, we have a list of seed questions that are used frequently and you can create your own. </p>
			<h3>Is our information private?</h3>
				<p>Yep you bet </p>
			<h3>Can we upload our job positins to sites like Trade Me and Seek</h3>
				<p>Yes we use thier API's to instanly upload a new position to their site.</p>
			<h3>Can we include a link on TradeMe and seek back to the job position?</h3>
				<p>Yes when you create the position we generate a unique URL for your potential candidates to link to your job position.</p>
			<h3>How do candidates find the job position?</h3>
				<p>When candidates recieve a link to the position, they will be asked to login, after logging in they go straight to the page pf the job position which has information about your company and the role, as well as the questions they are expected to respond to.</p>
			<h3>Will I be notified when a candidate has completed a question?</h3>
				<p>As soon as a candidate has completd the response you will be notifies by email if you choose or you can check your Dashboard for new notifications.</p>

		</div>
	</div>
</div>
