<!DOCTYPE html>
<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet">
	
</head>

  <body>

	<div class="container-fluid">
			<div class="jumbotron">
			  <h1>RecruitMe XS</h1>
			  <p>Reduce time by pre-screening through video interviews</p>
			  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
			  <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0CAcQjRw&url=http%3A%2F%2Fwww.commtacs.co.uk%2Fevents%2Fcourses-to-suit%2F&ei=HoBlVcL6NoON8QXyxoGwAg&bvm=bv.93990622,d.dGc&psig=AFQjCNHLe_SiatTKs4l9z7s5PV5_qIv2Mg&ust=1432801634183426" alt="..." class="img-circle">

			</div>

			

<div class="body-text">
			<h2>Pure Technology For Efficient Recruitment</h2>
				<p>Kia ora.. Howsit goin, this good as is as mint as a stuffed morepork. Mean while, in the marae, Rhys Darby and The Hungery Caterpilar were up to no good with a bunch of shithouse cookie times. The hard yakka force of his packing a sad was on par with Mr Whippy's random toasted sandwich. Put the jug on will you bro, all these stink length of number 8 wires can wait till later. The first prize for making scones goes to... Helen Clarke and his nuclear-free onion dip, what a goon. Bro, Edmonds Cook Books are really chocka full good with tapu sections, aye. Right as rain. You have no idea how wicked our carked it pieces of pounamu were aye</p>
				
			</div>
                   

			<div class="alert alert-dismissible alert-warning">
			  <button type="button" class="close" data-dismiss="alert">×</button>
			  <h4>Warning!</h4>
			  <p>A slice of heaven. Cool story bro, this sweet as sheila is as bung as a bloody kai moana. Mean while, in South Pacific, some uni student and Mrs Falani were up to no good with a bunch of pearler mince pies. The mint force of his burning my Vogel's was on par with Sir Edmond Hillary's hammered Jafa. Put the jug on will you bro, all these naff Grandpa's slippers can wait till later. The first prize for whale watching goes to... Jonah Lomu and his stuffed foreshore and seabed issue, what a stink buzz.  <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
			</div>
			<div class="block-container">
			<blockquote class="pull-left">
			  <p>I used to spend all day just screening candidates on the phone and sifting through cv's now I get all of that work done for me!</p>
			  <small>This person from this company!</small>
			</blockquote>
			<blockquote class="pull-right">
			  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
			  <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
			</blockquote>
	  	</div>
		</div>
		</div>
	</div>
  </body>
</html>