<!DOCTYPE html>
<html>
<head>
	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css" rel="stylesheet">
	
</head>

<div class="container">


		<div class="jumbotron">
		  <h1>RecruitMe XS</h1>
		  <p>Reduce your time and pick better employees by pre-screening them with video interviews</p>
		  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
		</div>
		<div class="body-text">
		<h2>Example body text</h2>
			<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p>The following snippet of text is <strong>rendered as bold text</strong>.</p>
			<p>The following snippet of text is <em>rendered as italicized text</em>.</p>
			<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
		</div>

</div>
</html>