   <br/><br/><br/>
    
    <!-- Plans -->
    <section id="plans">
        <div class="container">
            <div class="row">
            		<center><h1>Our Pricing</h1></center>
            		<center><p>Our pricing is based on the number of interviews and Job positions!</p></center>
            		<br>
                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-danger panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Platinum</h3>
                        </div>
                        <div class="panel-body text-center">
                            <h3><strong>$599 / Month</strong></h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited Videos</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Unlimited Positions</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-danger" href="/employers/new">SIGN UP NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-warning panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Gold</h3>
                        </div>
                        <div class="panel-body text-center">
                            <h3><strong>$200 / Month</strong></h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> 10 Interviews</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 10 Positions</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-warning" href="/employers/new">SIGN UP NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 text-center">
                    <div class="panel panel-success panel-pricing">
                        <div class="panel-heading">
                            <i class="fa fa-desktop"></i>
                            <h3>Silver</h3>
                        </div>
                        <div class="panel-body text-center">
                            <h3><strong>$99 / Month</strong></h3>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> Up To 5 Interviews</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Up To 5 Positions</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 27/7 support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block btn-success" href="/employers/new">SIGN UP NOW!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
                <br>
                
                	<h4>All prices excluding GST</h4>
                    <p>Contact Us Today! </p>
                    <p><%= mail_to 'admin@recruitmexs.co.nz'%></p>
            </div>
        </div>
    </section>
    <!-- /Plans -->