<!DOCTYPE html>


<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create Candidate Interview</title>
  <link rel="stylesheet" src="assets/stylesheets/record_interview.css">
</head>
	<body>
		<center><h1> Create Your Interview</h1></center>
	  <div id="video-container">
	    <video id="camera-stream" width="550" autoplay></video>
	    <input type="button" value="⚫" onclick="msgRecord()" id="recBtn">
		<input type="button" value="◼" onclick="msgStop()" id="stopBtn" disabled>

	  </div>
	  <script src="assets/javascripts/record_video.js"></script>
	</body>
</html>


<div class='container'>
<center><h2> Questions For This Interview<h2></center> 
	<table class="table table-striped table-hover ">
	  <thead>
	    <tr>
	      <th>#</th>
	      <th>Column heading</th>
	      <th>Column heading</th>
	      <th>Column heading</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td>1</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr>
	      <td>2</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr class="info">
	      <td>3</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr class="success">
	      <td>4</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr class="danger">
	      <td>5</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr class="warning">
	      <td>6</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	    <tr class="active">
	      <td>7</td>
	      <td>Column content</td>
	      <td>Column content</td>
	      <td>Column content</td>
	    </tr>
	  </tbody>
	</table> 
</div>



