<!DOCTYPE html> <html>
<head>
	<div class="container">
    <h1>Record Your Reply</h1>  
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <link rel="stylesheet" href="//assets.ziggeo.com/css/ziggeo-betajs-player.min.css" />
        </div>
        <br>
				<script src="//assets.ziggeo.com/js/ziggeo-jquery-json2-betajs-player.min.js"></script>
				<script>ZiggeoApi.token = "2bb2b8fe4f6383002ac59a60a6387587";</script>
      </div>
 </head>
     <body>
<ziggeo></ziggeo>
<ziggeo ziggeo-video="dc95df7f52acc5506ebcbf88e5d5acb6">
     </body>
   </html>
</div>








