<!DOCTYPE html>


<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Create Candidate Interview</title>
  <link rel="stylesheet" src="assets/stylesheets/record_interview.css">
</head>
	<body>
		<center><h1> Create Your Interview</h1></center>
	  <div id="video-container">
	    <video id="camera-stream" width="550" autoplay></video>
	    <input type="button" value="⚫" onclick="record(this)">
		<input type="button" value="◼" onclick="stop(this)">
	  </div>
	  <script src="assets/javascripts/record_video.js"></script>
	</body>
</html>



