<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
	</head>
	<body>
		<h1> Hey, </h1>
		<p>
			Welcome to RecruitMe!
		</p>
		<p> To login to your Dashboard just follow this link <%= @url %>.
		</p>
	</body>
</html>