// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0CAcQjRw&url=http%3A%2F%2Fwww.recruitmentagencynow.com%2F&ei=QeBkVYPmEeP4mAWXmIDoCw&bvm=bv.93990622,d.dGY&psig=AFQjCNHx3s_y9pMom0K2RLSqwKLb_MTaEA&ust=1432760460404726");
  background-size: cover;
  margin-bottom: 0;
}
